.hero {
  background-image: url("/hero-bg.png");
}

.animate-sideSearchBtn-in {
  animation: animation-search-in 500ms ease-in forwards;
}

@keyframes animation-search-in {
  0% {
    opacity: 0;
    right: 0;
  }
  100% {
    opacity: 1;
    right: 40px;
  }
}

.animate-sideSearchBtn-out {
  animation: animation-search-out 500ms ease-out forwards;
}

@keyframes animation-search-out {
  0% {
    opacity: 1;
    right: 40px;
  }
  100% {
    opacity: 0;
    right: 0;
  }
}
