.hero {
  background-image: url("/hero-bg.png");
}

.animate-sideSearchBtn {
  animation: animation-search 500ms ease-in forwards;
}

@keyframes animate-search {
  0% {
    opacity: 0;
    right: 0;
  }
  100% {
    opacity: 1;
    right: 80px;
  }
}
